.cardDiv {
    background-color: antiquewhite;
    width: 250px;
    height: 250px;
}

.form {
    width: 200px;
    height: 300px;
    background-color: lightgrey;
    display: none;
    position: absolute;
    top: 50px;
}